name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-action:
    runs-on: ubuntu-latest
    name: Test Action
    steps:
      - uses: actions/checkout@v6
      - name: Run action
        uses: ./
        with:
          command: changelog
          changelog-commit-format: "- {message} ([{abbr_hash}]({remote_url}/{abbr_hash}))"
          changelog-output: "CHANGELOG.md"
          github-token: ${{ secrets.GITHUB_TOKEN }}
