name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-action:
    runs-on: ubuntu-latest
    name: Test Action
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Check linting
        run: uv run ruff check
      - name: Check formatting
        run: uv run ruff format --check
      - name: Check types
        run: uv run ty check
      - name: Run tests
        run: uv run pytest tests
